/*menu*/
.sidenav{background-color:#171636;height:100%;left:0;overflow-x:hidden;padding-top:60px;position:fixed;top:0;transition:.5s;width:0;z-index:1;}
.sidenavR{background-color:#171636;height:100%;overflow-x:hidden;padding-top:60px;position:fixed;right:0;top:0;transition:.5s;width:0;z-index:1;}
.sidenav a,.sidenavR a{color:#818181;display:block;font-size:25px;text-decoration:none;transition:.3s;}
.sidenav a:hover,.offcanvas a:focus,.sidenavR a:hover,.offcanvas a:focus{color:#f1f1f1;}
.sidenav .closebtn,.sidenavR .closebtn{font-size:36px;margin-left:50px;position:absolute;right:25px;top:0;}
@media screen and max-height 450px {
.sidenav,.sidenavR{padding-top:15px;}
}
.menu-item a{
	font-size: 30px;
	color: white;
	transition: 0.4s;
	font-family: 'Futura';
	margin-bottom: 20px;
	padding-left: 40px;
}
.menu-item a:hover{
	color: #F74B42;
}
.menu-footer ul{
	padding-left: 0px;
	margin-bottom: 0px;
}
.nav-icon-mobile{
	height: 100%;
	display: flex;
	align-items: center;
}
.menu-footer ul li{
	display: flex;
	margin: 0px 15px;
	font-family: 'Futuramdbold';
	align-items: center;
	justify-content: center;
}
.menu-footer ul li a{
	font-size: 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Futuramdbold';
	margin-bottom: 0px !important;
	display: flex;
	align-items: center;
}
.menu-footer ul li a img{
	max-width: 40px;
	width: 100%;
	margin-right: 10px;
}
.follow-text{
    height: 100%;
    display: flex;
    align-items: center;
}
.follow-text p{
	font-size: 20px;
	color: #FFFFFF;
	font-family: 'Futuramdbold';
	margin-bottom: 0px;
}
.menu-footer-sec{
	margin: 0px 40px;
	padding-top: 30px;
	border-top: 1px solid #A2A2AF4A;
	position: absolute;
	bottom: 0;
	width: 94%;
	margin-bottom: 30px;
}
.close-menu{
	max-width: 20px !important;
	width: 100%;
}
.facebook-icon{
	max-width: 20px !important;
}