/*login*/
@media screen and (max-width: 576px){
	.mobile-nav{
    	display: block !important;
    }
    .desktop-nav{
    	display: none;
    }
	.mobile-logo{
		display: block;
		text-align: center;
		position: absolute;
		top: 25px;
		width: 100%;
	}
	.mobile-logo img{
		max-width: 140px;
		width: 100%;
	}
	.login-text-sec{
		display: none;
	}
	.login-main-form {
	    background-color: #0A0E2A;
	    max-width: 100%;
	    width: 100%;
	}
	.row-pad-design{
		margin: 0px !important;
	}
	.form-group-main{
		padding: 0px 20px;
	}
	.form-group-main h1{
		font-size: 30px;
	}
	.form-group-main p{
		font-size: 20px;
	}
	.form-group-main button{
		font-size: 18px;
	}
	.signup-text h3 {
    font-size: 17px;
    }
    .forgot-text a{
    	font-size: 17px;
    }
    .mobile-design-header-heading{
    	display: none;
    }
    .confirmation-logo{
    	text-align: center;
    }
    .confirmation-header {
    position: relative;
    }
    .header-nav {
    position: absolute;
    top: 21px;
    left: 29px;
    }
    .header-nav img {
    max-width: 25px;
    }
    .mobile-hide-deaign{
    	display: none;
    }
    .set-profile-img img {
    max-width: 115px;
    width: 100%;
    }
    .edit-profile-link-button{
    	position: relative;
    }
    .edit-profile-img {
    height: 40px;
    width: 40px;
    position: absolute;
    right: -12px;
    bottom: -13px;
    top: 26px;
    border-radius: 50%;
    }
    .edit-profile-img img{
    	max-width: 16px;
    	width: 100%;
    }
    .setting-form form {
    max-width: 100%;
    width: 100%;
    border:none !important;
    padding-left:0px;
    margin-left: 0px;
    padding: 0px 20px;
    }
    .save-change-button{
    	padding: 0px 20px;
    }
    .save-change-button button{
    	max-width: 100%;
    }
    .mobile-button-design{
    	position: absolute;
    	bottom: 25px;
    	width: 100%;
    }
    .form-group-main button{
    	height: auto !important;
    }
    .setting-fotm-desktop{
    	display: none;
    }
    .setting-form-mobile{
    	display: block;
    	height: 100%;
    }
    .setting-form-mobile form{
    	margin-top: 30px !important;
    }
    .profile-img-heading{
    	display: none;
    }
    .profile-img-heading-on-mobile{
    	padding: 0px 20px;
    }
    .profile-img-heading-on-mobile h3{
    	font-size: 30px;
    	color: #FFFFFF;
        font-family: 'FuturaBold';
        margin-bottom: 30px;
    }
    .confirmation-table-parent {
    overflow: scroll;
    }
    .confirmation-table-parent table tr th{
    	font-size: 14px;
    }
    .confirmation-table-parent table tr td{
    	font-size: 16px;
    }
    .table-edit-button{
    	display: none;
    }
    .mobile-confirmation-note{
    	display: none;
    }
    .confirmation-table-parent h3{
    	font-size: 18px;
    }
    .mobile-page-heading{
    	display: block;
    }
    .mobile-page-heading h3{
    	font-size: 20px;
    	color: #FFFFFF;
    	font-family: 'FuturaBold';
    	margin-bottom: 30px;
    	margin-top: 30px;
    }
    .mobile-table-heading-design{
    	display: block;
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    }
    .table-edit-button-on-mobile{
    	display: block !important;
    }
    .confirmation-table-parent h3{
    	display: none;
    }
    .mobile-table-heading-design h3{
    	display: block !important;
    }
    .logo-float-design{
    	position: relative;
    	top: 0;
    }
    .confir-invitation-logo{
    	text-align: center;
    	padding-top: 25px;
    }
    .confir-invitation-logo img{
    	max-width: 140px;
        width: 100%;
    }
    .header-text h3 {
        font-size: 18px;
    }
    .header-text h1{
    	font-size: 21px;
    }
    .option-list ul{
    	display: block;
    }
    .option-list ul{
    	display: block;
    	padding: 0px 20px !important;
    	margin-bottom: 0px;
    }
    .option-list ul li{
    	display: inline-block;
    	margin: 0px;
    	font-size: 14px;
    	margin-bottom: 10px;
    }
    .option-list ul li img {
	    margin-right: 7px;
	    max-width: 16px;
    }
    .option-list {
        margin-bottom: 55px;
    }
    .header-text{
    	margin: 30px 0px;
    }
    .vedio-sec{
    	padding: 0px 20px;
    	margin-bottom: 20px;
    }
    .vedio-file-detail-main{
    	margin: 0px 20px;
    }
    .invitation-buttons h2{
    	font-size: 21px;
    }
    .invitation-buttons a{
    	font-size: 14px;
    	padding: 10px 20px;
    }
    .vedio-information {
       padding-bottom: 50px;
    }
    .select-player-dropdown h3{
    	font-size: 18px;
    }
    .game-play-heading h3{
    	font-size: 18px;
    }
    .select-player-dropdown{
    	margin-bottom: 20px;
    }
    .game-play-mobile-design{
    	margin-bottom: 20px;
    }
    .game-date h4 {
    font-size: 16px;
    }
    .select-player-dropdown select{
    	font-size: 16px;
    } 
    .confimation-note-detail-main{
    	margin-top: 0px;
    	margin-bottom: 20px;
    }
    .confimation-note-detail-main img{
    	display: none;
    }
    .confimation-note-detail p{
    	font-size: 14px;
    }
    .confimation-note-detail h3{
    	font-size: 16px;
    }
    .select-player-dropdown input{
    	font-size: 16px;
    }
    .mobile-row-hide{
    	display: none;
    }
    .facebook-icon {
       max-width: 12px !important;
    }
    .menu-footer ul li a img {
       max-width: 20px;
    }
    .menu-footer a{
        padding-left: 0px !important;
    }
    .menu-footer ul li {
        display: inline-flex;
        margin: 0px 0px;
        align-items: start;
        justify-content: start;
    }
    .follow-text p {
         font-size: 18px;
         margin-bottom: 10px;
    }
    .menu-footer ul li a{
        font-size: 17px;
    }
    .purchase-text-main {
        display: block;
        padding: 0px 20px;
    }
    .generate-text-button{
        display: block;
    }
    .generate-text-button button{
        margin-top: 20px;
    }
    .generate-text-button h1{
        font-size: 35px;
    }
    .game-invite-notes{
        margin-top: 25px;
    }
    .block-data{
        margin-bottom: 25px;
    }
    .playmood-heading ul li{
        margin-bottom: 20px;
    }
    .playmood-parent{
        padding: 0px 20px;
    }
    .mobile-edit-button-design{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-edit-button-design button{
        display: block;
    }
    .block-border-design{
        border: none !important;
    }
}

















































